/*头*/
.header{
	width: 100%;
	background: #007af4;
	}
.head{
	width: 5.85rem;/*margin: 0 auto;*/overflow: hidden;height: 0.4rem;padding: 0.23rem 0.27rem;
}
.fan{
	width: 0.18rem;float: left;line-height: 0.4rem;width: 30%;margin-top: 0.05rem;
}
.fan img{
	width: 0.18rem;float: left;
}
.wen{
	float: left;font-size: 0.34rem;text-align: center;line-height: 0.4rem;width: 40%;color: #fff;
}
.ge{
	width: 0.37rem;float: left;line-height: 0.4rem;width: 30%;
}
.ge img{
	width: 0.37rem;float: right;margin-top: 0.03rem;
}
/*xian*/
/*.xian{
	width: 100%;height: 0.11rem;background: #f5f5f5;
}
.xian1{
	width: 100%;height: 0.11rem;background: #f5f5f5;clear: both;
}*/
/*人物介绍*/
.shang{
	border: 0.1rem solid #f5f5f5;overflow: hidden;
}
.rentou{
	background: url(../img/shui.png) 0 0 no-repeat;width: 1.96rem;height: 1.78rem;
	background-size:100% 100% ;margin: 0.03rem 0.17rem 0.09rem 0.03rem;float: left;
}
.jieli1 span{
	font-size: 0.24rem;
    color: #333333;
    display: block;margin-top: 0.13rem;
}
.jieli2 span img{width: 1.12rem;height: 0.37rem;float: left;margin-right: 0.45rem;}
.jieli2{
	overflow: hidden;margin-top: 0.1rem;
}
.jieli2 span{
	font-size: 0.2rem;color: #333333;float: left;line-height: 0.37rem;
}
.jieli3{
	overflow: hidden;
}
.shu{
	font-size: 0.16rem;
    color: #9a9a9a;
    display: block;
    margin-top: 0.15rem;line-height: 0.32rem;float:left;
}
.shu span{line-height: 0.3rem;float:left;
}
.jieli4{
	margin-top: 0.2rem;overflow: hidden;
}
.jieli4 img{
	width: 1.66rem;height: 0.19rem;display: block;/*margin-left: 2.18rem;*/float: right;margin-right: 0.15rem;
}
/*定位电话*/
.ding{
	border-left: 0.1rem solid #f5f5f5;border-right: 0.1rem solid #f5f5f5;overflow: hidden;
}
.dingzuo,.dingyou{float: left;
	overflow: hidden;
}
.dingyou{
	float: right;padding: 0.34rem 0.35rem 0.29rem 0.3rem;border-left: 1px solid #dedede;margin-top: 0.1rem;
	margin-bottom: 0.05rem;
}
.dingp1{
	overflow: hidden;margin: 0.17rem 0.09rem 0.12rem 0.11rem;
}
.dingp1 img{
	width: 0.24rem;height: 0.3rem;float: left;margin-right: 0.09rem;
}
.dingp1 span{
	font-size: 0.22rem;color: #919191;line-height:0.4rem;float: left;
}
.dingp2{
	font-size: 0.22rem;color: #919191;margin-left: 0.38rem;margin-bottom: 0.23rem;
}
.dingyou a{display: block;}
.dingyou a img{
	display: block;width: 0.31rem;height: 0.31rem;
}
/*商家信息*/
.shangjia{
border: 0.1rem solid #f5f5f5;overflow: hidden;	
}
.shangj{
	font-size: 0.24rem;color: #333333;padding: 0.15rem 0 0.15rem 0.15rem;border-bottom: 1px solid #dedede;
}
.pshang{
	font-size: 0.22rem;color:  #919191;margin-left: 0.4rem;
}
.shangjia p:nth-child(2){
	margin-top: 0.33rem;margin-bottom: 0.08rem;
}
.shangjia p:nth-child(3){
	margin-bottom: 1.14rem;
}
/*评价*/
.ping{
	border-right: 0.1rem solid #f5f5f5;
	width: 6.2rem;margin: 0 auto;border-left: 0.1rem solid #f5f5f5;
}
.pin{
	overflow: hidden;border-bottom: 1px solid #dedede;
}
.pingzi{
	font-size: 0.24rem;color: #333333;float: left;line-height: 0.54rem;margin-left: 0.14rem;
	}
	.pingzia{
		float: right;margin-right: 0.22rem;
	}
.pingzia img{
	width: 1rem;height: 0.35rem;display: block;margin-top: 0.095rem;
}

.liua img{
	width: 0.76rem;height: 0.76rem;margin-right: 0.19rem;display: block;
}
.liuc span:nth-child(1){
	font-size: 0.2rem;color: #525252;
}
.liuc span:nth-child(2){
	font-size: 0.18rem;color: #cccccc;float: right;    padding-right: 0.18rem;
}
.liub{
	font-size: 0.16rem;color: #666666;margin-top: 0.15rem;width: 5.1rem;line-height: 0.25rem;border-bottom: 1px solid #dedede;
}
.liu1,.liu2,.liu3{
	overflow: hidden;margin-top: 0.16rem;margin-left: 0.14rem;
}
.liua,.liub{
	float: left;
}
.liuc{
	margin-bottom: 0.1rem;
}
.liud{
	margin-bottom: 0.15rem;
}
/*底部*/
.foot{
	    position: fixed;
    overflow: hidden;
    bottom: 0.12px;
    width: 100%;
    height: 0.9rem;
    background: #f5f5f5;
}
.foot a{
	float: left;margin-left: 0.10rem;margin-top: 0.195rem;
}
.foot a:nth-child(1){
	background: url(../img/fen.png) 0 0 no-repeat;width: 1.92rem;height: 0.51rem;
	background-size:100% 100% ;
}
.foot a:nth-child(2){
	background: url(../img/yulian.png) 0 0 no-repeat;width:4.19rem;height: 0.49rem;
	background-size:100% 100% ;float: left;
}

/*分享*/
#fenxiang{
	display: none;
	  height: 0.7rem;
    position: fixed;
    bottom: 0.9rem;
    background: #fff;
    width: 100%;}

/*发布评论*/
.gd{
			display: none;
			overflow: hidden;
			position: fixed;
			z-index: 3;
			bottom:0;
			width:100%;
			height:0.9rem;
			background:#F5F5F5;
		}
		.srk{
			position: relative;
			float:left;
			width:3.96rem;
			height:0.46rem;
			margin-top:0.22rem;
			margin-left:0.16rem;
			background: url(../img/srk.png) 0 0 no-repeat;
			background-size: 3.96rem 0.46rem;
		}
		.xpl{
			position: absolute;
			height:0.4rem;
			width:3.2rem;
			font-size: 0.16rem;
			color:#d2d2d2;
			background: none;
			border:0px;
			outline: none;
			margin-bottom:0.2rem;
			top:0.03rem;
			left:0.52rem;
		}
		.gu{
			margin-left:0.36rem;
			list-style: none;
			float:left;
		}
		.gu li{
			overflow:hidden;
			margin-top:0.2rem;
			float:left;
			margin-right:0.2rem;
		}
		li.last{
			margin-right:0;
		}
		.gu li img{
			float:left;
			width:0.47rem;
			height:0.47rem;
		}